
@{
    ViewBag.Title = "Home";
}
<div class="jumbotron">
    <h1>Ride Sharing</h1>
    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
</div>

<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h3 id="forms">Input Data Options</h3>
                <hr />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            @if (!String.IsNullOrEmpty(ViewBag.Message))
            {
                <div class="bs-component">
                    <div class="alert alert-dismissible alert-success">
                        Data imported and processed succesfully!
                    </div>
                </div>
            }
            <div class="well bs-component">
                <form class="form-horizontal" enctype="multipart/form-data" method="post" action="/Home/Index">
                    <fieldset>
                        <div class="form-group">
                            <label for="dataFile" class="col-lg-5 control-label">Data File (CSV):</label>
                            <div class="col-lg-7">
                                <input type="file" class="form-control" id="dataFile" placeholder="Data File" name="file">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="maxWalkingTime" class="col-lg-5 control-label">Max Walking Time (Mins):</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" id="maxWalkingTime" placeholder="Max Walking Time (Mins)" name="maxWalkingTime" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="maxWaitingTime" class="col-lg-5 control-label">Max Waiting Time (Mins):</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" id="maxWaitingTime" placeholder="Max Waiting Time (Mins)" name="maxWaitingTime" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-8 col-lg-offset-4">
                                <button type="reset" class="btn btn-default">Clear</button>
                                <button type="submit" class="btn btn-primary">Import</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>