@model RideSharingWeb.Models.ResultsViewModel

@{
    ViewBag.Title = "Results";
}

<h2>Simualations</h2>

@foreach (var simulation in Model.SimulationIds)
{
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#@simulation" class="simulationHeading" id="id_@simulation"><b>Simulation #</b> @Model.SimulationIds.IndexOf(simulation)</a>
                </h4>
            </div>
            <div id="@simulation" class="panel-collapse collapse">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $('.simulationHeading').click(function () {
                var id = $(this).attr('id').split('_')[1];
                console.log(id);
                $.get("Results/GetDetailsForSimulationId?Id="+id, function (data) {
                    var returnData = JSON.parse(data);
                    var htmlText = '<div class="panel-body">';
                    htmlText += '<div class="col-md-3">' +
                                     '<div class="container-fluid">' +
                                         '<h4>Summary</h4>' +
                                         '<b>Simulation Id: </b> ' + returnData.SimulationId +
                                         '<br /><b>PoolSize: </b>' + returnData.PoolSize +
                                         '<br /><b>Total Trips Before: </b>' + returnData.TotalTripsBefore +
                                         '<br /><b>Total Trips After RideSharing: </b>' + returnData.TotalTripsAfter +
                                         '<br /><b>Start Date: </b>' + returnData.StartDate +
                                         '<br /><b>End Date: </b>' + returnData.EndDate +
                                         '<br /><b>Total Processing Time: </b>' + returnData.ProcessingTime +
                                         '<br /><b>Total Percentage Saved: </b>' + returnData.PercentageSaved +
                                     '</div>' +
                                 '</div>';
                    htmlText += '<div class="col-md-9" style="max-height: 20em; overflow-y: auto;">' +
                                    '<table class="table table-fixed-header text-center table-striped table-hover">' +
                                        '<tr>' +
                                            '<th>Cab Id</th>' +
                                            '<th>Ride Id</th>' +
                                            '<th>Dropoff Time</th>' +
                                            '<th>Actual Dropoff Time</th>' +
                                            '<th># Passengers</th>' +
                                            '<th>Delay Time</th>' +
                                            '<th>Walking Time</th>' +
                                        '</tr>';
                    for(var i = 0; i < returnData.Trips.length; i++)
                    {
                        
                        htmlText += '<tr>' +
                                    '<td>' + returnData.Trips[i].CabId + ' </td>' +
                                    '<td>' + returnData.Trips[i].RideId + ' </td>' +
                                    '<td>' + returnData.Trips[i].DropoffTime + ' </td>' +
                                    '<td>' + returnData.Trips[i].ActualDropoffTime + ' </td>' +
                                    '<td>' + returnData.Trips[i].NumPassengers + ' </td>' +
                                    '<td>' + returnData.Trips[i].DelayTime + ' </td>' +
                                    '<td>' + returnData.Trips[i].WalkingTime + ' </td>' +
                                    '</tr>';
                    }
                    htmlText += '</table></div></div>';
                    $('#' + id).html(htmlText);
                });                
            });
        });
    </script>
}
